<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OAuth Tutorials</title>
        <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
      <style>
  
        *{
          margin: 0;
          padding: 0;
          box-sizing: border-box
        }
        body {
    
          font-family: arial;
        
          color: rgb(252, 96, 24);
        }
       
  
       .brand-image{
         text-align: center;
         width: 700px;
         height: 70px;
       }
  
       .navbar{
         background: #030930e5 !important;
       }
  
       .nav-link{
         font-size: 1.1rem !important;
         color: white !important;
         transition: all 0.5s linear !important;
         padding: 0.8rem 1.2rem !important
       }
  
       .nav-link:hover , .active{
         background: white !important;
         color:#030930e5 !important
       }

       .card{
           border: 0.08rem solid rgb(13, 52, 83);
           transition: all 0.5s ease-in-out;
       }
       .card:hover{
           box-shadow: 5px 6px 4px gray;
       }
        
       .card-body h2{
           text-align: left;
           font-size: 1.2rem;
           color: #0b2035
       }
      </style>
    </head>
    <body>
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">Auth 20</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                      <ul class="navbar-nav ml-auto">
                          <li class="nav-item">
                              <a class="nav-link text-capitalize" href="/">home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-capitalize active" href="/profile">profile</a>
                              </li>
                          <% if(user){ %>
                        <li class="nav-item">
                          <a class="nav-link text-capitalize" href="/auth/logout">Logout</a>
                        </li>
                        <% } else { %>
                        <li class="nav-item">
                          <a class="nav-link text-capitalize active" href="/auth/login">login</a>
                        </li>
                        <% } %>
                        
                      </ul>
                    </div>
                  </nav>
              
                  
                  <section id="profile">

                      <div class="container-fluid">

                        <div class="row">
                            <div class="col-10 mx-auto col-md-4 p-3">

                                
                                <div class="card">
                                    <div class="card-image mx-auto my-2  text-center">
                                        <h1 class="card-title">welcome</h1>
                                        <img src=<%= user.thumbnail %>   width="100px" class="img-thumbnail" alt="" />
                                    </div>
                                    <div class="card-body">
                                            <h1> <%= user.username %> </h1>
                                            <h2 class="text-capitalize">you are logged in using your google account.</h2>
                                            <h2 class="text-capitalize ">you can explore our word.</h2>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="/" class="btn btn-primary text-uppercase">explore home</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>

                  </section>
    </body>
</html>